extends:
- "homeoffice/config/default"

rules:
  consistent-return: off

env:
  es6: true
  node: true
  mocha: true

overrides:
  - files:
      "test/*.js"
    rules:
      implicit-dependencies/no-implicit: [error, { dev: true }]
    globals:
      chai: true
      sinon: true
      expect: true
