// Custom styling for overriding HOF defaults as required by designs

#confirm-column.column-two-thirds {
  width: 100%;
}

#query, #feedbackText {
  height: 120px; // 6x default line-height for screens < 641px wide
  width: 100%;
}

#representative-name-hint {
  margin-bottom: 1em;
}

#identity-group {
  .multiple-choice {
    clear: right;
    margin-right: 2em;
  }
  legend {
    margin-bottom: 1em;
  }
}

@media (min-width: 641px) {
  #query {
    height: 150px; // 6x default line-height for this screen width
  }

  #applicant-name, #representative-name, #representative-phone, #email {
    width: 80%;
  }

  #applicant-phone, #organisation, #application-number {
    width: 67%;
  }
}
