// Custom styling for overriding HOF defaults as required by designs

// Styles for context page
#context {
  > p {
    margin: 1.3em 0 .75em 0;
  }
  ul {
    list-style-type: disc;
    margin: 0 0 1em 1em;
    li p {
      margin-bottom: 0.2em;
    }
  }
  .notice {
    margin: 1.5em 0 2em 0;
    .icon {
      margin-top: -20px;
    }
  }
}

// Styles for form pages
#identity-group {
  .multiple-choice {
    clear: right;
    margin-right: 2em;
  }
  legend {
    margin-bottom: 1em;
  }
}

#query, #feedbackText {
  height: 120px; // 6x default line-height for screens < 641px wide
  width: 100%;
}

#representative-details-hint {
  margin-bottom: 1em;
  color: black;
}

// Check your answers page styles
.confirm-label {
  font-weight: bold;
}

tr {
  vertical-align: top;
}

// Confirmation styles (complete & feedback submitted pages)
#complete-column {
  .alert-complete {
    background-color: #00703C;
    border-left: 0;
    padding: 2em 30px;
  }
}

#confirm-email {
  margin: 0.2em 0 0 0;
  word-wrap: break-word;
}

#confirm-heading {
  margin: 0;
}

#confirm-text {
  margin: 0.5em 0 0 0;
}

.confirm-value {
  word-break: break-word;
}

input[type="submit"].link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#next-heading {
  margin-top: 0;
}

// Wide display styles
@media (min-width: 641px) {
  #query {
    height: 150px; // 6x default line-height for this screen width
  }

  #applicant-first-names, #applicant-last-names, #email, #representative-first-names, #representative-last-names {
    width: 100%;
  }

  #organisation, #application-number, #phone {
    width: 67%;
  }

  #complete-column {
    .alert-complete {
      padding: 2em 40px;
    }
  }
}
