// Custom styling for overriding HOF defaults as required by designs

#query {
  height: 120px; // 6x default line-height for screens < 641px wide
  width: 100%;
}

#name, #email {
  width: 80%;
}

#phone, #application-number {
  width: 67%;
}

@media (min-width: 641px) {
  #query {
    height: 150px; // 6x default line-height for this screen width
  }
}
