<div id="context">
    <p>{{#t}}pages.context.p1{{/t}}</p>
    <ul id="context-requirements">
        <li><p>{{#t}}pages.context.l1{{/t}}</p></li>
        {{^values.is-id-check}}
            <li><p>{{#t}}pages.context.l2{{/t}}</p></li>
        {{/values.is-id-check}}
        <li><p>{{#t}}pages.context.l3{{/t}}</p></li>
        <li><p>{{#t}}pages.context.l4{{/t}}</p></li>
    </ul>

    <p id="representative-info">{{#t}}pages.context.representative-info{{/t}}</p>

    <div class="notice">
        <span class="icon icon-important">
            <span class="visually-hidden">{{#t}}pages.context.warning{{/t}}</span>
        </span>
        <strong class="bold-small">{{#t}}pages.context.timeout{{/t}}</strong>
    </div>
</div>
