<div id="context">
    <p>You will need to give us:</p>
    <ul id="context-requirements">
        {{^values.is-id-check}}
            <li><p>your unique application number (UAN), if you have it</p></li>
        {{/values.is-id-check}}
        <li><p>contact details where we can send our response</p></li>
        <li><p>details about the problem</p></li>
    </ul>

    <p id="representative-info">If you are filling this form out on behalf of someone else, we will also need your name.</p>

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
            If you do not do anything for 30 minutes, the service will time out and you will need to start again.
        </strong>
    </div>
</div>
