<div id="start-info">
    <p>{{#t}}pages.start.p1{{/t}}</p>
    <ul id="start-uses-1" class="info-list">
        <li><p>{{#t}}pages.start.l1{{/t}}</p></li>
        <li><p>{{#t}}pages.start.l2{{/t}}</p></li>
        <li><p>{{#t}}pages.start.l3{{/t}}</p></li>
    </ul>

    <p>{{#t}}pages.start.p2{{/t}}</p>
    <ul id="start-uses-2" class="info-list">
        <li><p>{{#t}}pages.start.l4{{/t}}</p></li>
        <li><p>{{#t}}pages.start.l5{{/t}}</p></li>
    </ul>

    <p>{{#t}}pages.start.p3{{/t}}<a href="https://www.gov.uk/contact-ukvi-inside-outside-uk/y/inside-the-uk/eu-settlement-scheme-frontier-worker-or-service-provider-from-switzerland-visa-applications">{{#t}}pages.start.a{{/t}}</a></p>
</div>
