<div id="what-you-need">
    <h2>{{#t}}pages.start.h{{/t}}</h2>
    <p>{{#t}}pages.start.p4{{/t}}</p>
    <ul id="start-requirements" class="info-list">
        <li><p>{{#t}}pages.start.l6{{/t}}</p></li>
        <li><p>{{#t}}pages.start.l7{{/t}}</p></li>
        <li><p>{{#t}}pages.start.l8{{/t}}</p></li>
        <li><p>{{#t}}pages.start.l9{{/t}}</p></li>
    </ul>

    <div class="notice">
        <span class="icon icon-important">
            <span class="visually-hidden">{{#t}}pages.context.warning{{/t}}</span>
        </span>
        <strong class="bold-small">{{#t}}pages.start.timeout{{/t}}</strong>
    </div>
</div>
